:root {
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 1.5rem;
}

header {
  position: sticky;
  background-color: white;
  
  display: flex;
  height: 20svh;
  top: 0;

  padding: var(--padding-l);

  z-index: 1000;
}

footer {
  min-height: 30svh;
  padding: var(--padding-l);
  z-index: 1000;
}

section {
  position: relative;
  padding: var(--padding-l);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Align Item Classes*/
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.align-stretch { align-items: stretch; }

/* Align Self Classes*/
.self-align-start { align-self: flex-start; }
.self-align-center { align-self: center; }
.self-align-end { align-self: flex-end; }
.self-align-stretch { align-self: stretch; }

/* Justify Content Classes*/
.just-start { justify-content: flex-start; }
.just-center { justify-content: center; }
.just-end { justify-content: flex-end; }
.just-space-b { justify-content: space-between; }
.just-space-a { justify-content: space-around; }
.just-space-e { justify-content: space-evenly; }

/* Margin Classes*/
.margin-right { margin-right: auto; }
.margin-left { margin-left: auto; }

/* Directional Classes*/
.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }

.background-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  
  position: absolute;
  top: 0;
  left: 0;
}

img:not([src]) {
  content: url('../assets/placeholder.svg');
}

.arrant-linear-gradient {
  border: 4px solid transparent;

  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(45deg, #5bbed3, #58bcbe, #db492, #65bd81, #8b9e4f, #c5bf71, #d2a727, #f28920, #fc3d23, #f0222c) border-box;
}

#hero-content {
  min-height: 60svh;
  min-width: 80vw;
  padding: var(--padding-m);
}

#services-track {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--padding-m);
}

.service-card {
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  flex: 1;
  min-height: 60svh;
  padding: var(--padding-m);
}

.service-header {
  position: relative;
  height: 40%;
  padding: var(--padding-m);
}

.service-image {
  z-index: 2;
}

.service-title {
  position: relative;
  z-index: 3;
}

.service-content {
  height: 60%;
  padding: var(--padding-m);
}

@media screen and (max-width: 600px) {
  #services-track {
    max-width: 100vw;
    flex-wrap: wrap;
  }
}

#hero {
  min-height: 80svh;
}

